@{
    ViewData["Title"] = "Корпоративная культура";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <img src="https://rosatom.ru/upload/medialibrary/c4b/c4bead5f3fa5836e69163237ea2ee81a.jpg" style=" width: 270px">

    <h2><b>Ценности Росатома</b></h2>
    <p>В 2014 году в Госкорпорации «Росатом» были сформулированы единые корпоративные ценности (утверждены протоколом Стратегического совета №1-СС/3-Пр от 03.07.2014). Их шесть: «На шаг впереди», «Ответственность за результат», «Эффективность», «Единая команда», «Уважение» и «Безопасность». Пояснить их можно следующими утверждениями:</p>
    <p><b>«На шаг впереди»</b></p>
    <p>Мы стремимся быть лидером на глобальных рынках. Мы всегда на шаг впереди в технологиях, знаниях и качествах наших сотрудников. Мы предвидим, что будет завтра, и готовы к этому сегодня. Мы постоянно развиваемся и учимся. Каждый день мы стараемся работать лучше, чем вчера.</p>
    <p><b>«Ответственность за результат»</b></p>
    <p>Каждый из нас несет личную ответственность за результат своей работы и качество своего труда перед государством, отраслью, коллегами и заказчиками. В работе мы предъявляем к себе самые высокие требования. Оцениваются не затраченные усилия, а достигнутый результат. Успешный результат – основа для наших новых достижений.</p>
    <p><b>«Эффективность»</b></p>
    <p>Мы всегда находим наилучшие варианты решения задач. Мы эффективны во всем, что мы делаем – при выполнении поставленных целей мы максимально рационально используем ресурсы компании и постоянно совершенствуем рабочие процессы. Нет препятствий, которые могут помешать нам находить самые эффективные решения.</p>
    <p><b>«Единая команда»</b></p>
    <p>Мы все – Росатом. У нас общие цели. Работа в команде единомышленников позволяет достигать  уникальных результатов. Вместе мы сильнее и можем добиваться самых высоких целей. Успехи сотрудников – успехи компании.</p>
    <p><b>«Уважение»</b></p>
    <p>Мы с уважением относимся к нашим заказчикам, партнерам и поставщикам. Мы всегда внимательно слушаем и слышим друг друга вне зависимости от занимаемых должностей и места работы. Мы уважаем историю и традиции отрасли. Достижения прошлого вдохновляют нас на новые победы.</p>
    <p><b>«Безопасность»</b></p>
    <p>Безопасность – наивысший приоритет. В нашей работе мы в первую очередь обеспечиваем полную безопасность людей и окружающей среды. В безопасности нет мелочей – мы знаем правила безопасности и выполняем их, пресекая нарушения.</p>
</div>