@{
    ViewData["Title"] = "Нормативные документы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <details>
        <summary>1. Для новичков</summary>
        <details>
            <summary>База знаний</summary>
            <p>Текст</p>
        </details>
        <details>
            <summary>Библиотека</summary>
            <p>Текст</p>
        </details>
    </details>
    <details>
        <summary>2. Роли и обязанности ключевых сотрудников</summary>
    </details>
    <details>
        <summary>3. Внутренние мероприятия</summary>
    </details>
    <details>
        <summary>4. Материалы внутренних обучений</summary>
    </details>
    <details>
        <summary>5. Регламенты и инструкции</summary>
    </details>
</div>
