@{
    ViewData["Title"] = "Сотрудники";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h5>Ваши сотрудники</h5>
</div>
<div>
    <a asp-controller="Mentoring" asp-action="GiveTask">Иванов Иван Иванович</a>
</div>
<div>
    <a asp-controller="Mentoring" asp-action="GiveTask">Иванов Иван Иванович</a>
</div>
<div>
    <a asp-controller="Mentoring" asp-action="GiveTask">Иванов Иван Иванович</a>
</div>
<div>
    <a asp-controller="Mentoring" asp-action="GiveTask">Иванов Иван Иванович</a>
</div>
<div>
    <a asp-controller="Mentoring" asp-action="GiveTask">Иванов Иван Иванович</a>
</div>
<div>
    <a asp-controller="Mentoring" asp-action="GiveTask">Иванов Иван Иванович</a>
</div>
<div>
    <a asp-controller="Mentoring" asp-action="GiveTask">Иванов Иван Иванович</a>
</div>